@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Chapter 1 bill */
#chapter-1 [epub|type~="z3998:signature"]{
	text-align: right;
}

#chapter-1 > blockquote{
	border: 1px solid;
	padding: 1em;
}

#chapter-1 > blockquote > blockquote{
	font-style: normal;
}

#chapter-1 > blockquote > p:nth-child(1){
	font-style: italic;
	text-align: right;
}

#chapter-1 > blockquote > p:nth-child(2){
	font-style: italic;
}

#chapter-1 table{
	padding: 1em;
}

#chapter-1 table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#chapter-1 tfoot tr:first-child td:last-child,
#chapter-1 tfoot tr:last-child td:last-child{
	border-top: 1px solid;
}
/* End chapter 1 bill */

/* All drama */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* End all drama */

/* All images */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* End all images */

/* All letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"] + p,
[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End all letters */

/* Specific letters */
#chapter-7 blockquote > [epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}
/* End specific letters */

/* Appendicies */
#appendix-7-b > p:nth-child(6),
#appendix-7-b > p:nth-child(7){
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

#appendix-7-b > p:nth-child(8),
#appendix-7-b > p:nth-child(10){
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

#appendix-7-b blockquote{
	margin-left: 0;
	margin-right: 0;
}
/* End appendicies */

/* Elision */
.elision{
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
/* End elision */

/* Lists */
ul{
	list-style-type: none;
	margin: 1em 0;
}
/* End lists */
