@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All tables */
table{
	border: 1px solid;
	margin: 1em;
}
/* End all tables */

/* All letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"] + p,
[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End all letters */

/* Elision */
p.elision{
	margin: .5em;
	margin-left: 1em;
}
/* End eleision */
