@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Chapter 1 bill */
#chapter-1 [epub|type~="z3998:signature"]{
	text-align: right;
}

#chapter-1 blockquote header p{
	font-style: italic;
}

#chapter-1 blockquote header p:first-of-type{
	text-align: right;
}

@supports(display: flex){
	#chapter-1 blockquote header{
		display: flex;
		justify-content: space-between;
	}

	#chapter-1 blockquote header p:first-of-type{
		order: 2;
	}
}

#chapter-1 blockquote header + p{
	margin: 1em;
}

#chapter-1 blockquote{
	border: 1px solid;
	padding: 1em;
}

#chapter-1 table{
	padding: 1em;
}

#chapter-1 table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#chapter-1 tfoot tr:first-child td:last-child,
#chapter-1 tfoot tr:last-child td:last-child{
	border-top: 1px solid;
}
/* End chapter 1 bill */

/* All drama */
[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}
/* End all drama */

/* All images */
figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}
/* End all images */

/* All letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:recipient"] + p,
[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* End all letters */

/* Specific letters */
#chapter-7 blockquote > [epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}
/* End specific letters */

/* Appendicies */
#appendix-7-b blockquote:first-of-type header{
	font-variant: small-caps;
}

#appendix-7-b blockquote:first-of-type header p + p{
	font-variant: small-caps;
	margin-top: 1em;
}

.record-header{
	font-style: italic;
	margin: 2em auto 1em auto;
	text-align: center;
	text-indent: 0;
}

#appendix-7-b blockquote{
	margin-left: 0;
	margin-right: 0;
}
/* End appendicies */

/* Elision */
.elision{
	margin: 1em;
	text-align: center;
	text-indent: 0;
}
/* End elision */

/* Lists */
ul{
	list-style-type: none;
}
/* End lists */
